<footer class="site-footer" style = "background-color: #ecf0f1">

  <div class="wrapper" style="background-color: #ecf0f1;">

    <h2 class="footer-heading" style="background-color: #ecf0f1;">{{ site.title }}</h2>

    <div class="footer-col-wrapper" style="background-color: #ecf0f1;">
      <div class="footer-col footer-col-1" style="background-color: #ecf0f1;">
        <ul class="contact-list" style="background-color: #ecf0f1;">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list" style="background-color: #ecf0f1;">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3" style="background-color: #ecf0f1; color: black;">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>
  <script>
  (function() {
    var cx = '009229277384533759378:pnjfnfua5xo';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
  </script>
  <gcse:search></gcse:search>
</footer>
