---
layout: default
---
    <div class = "intro-header">

            <div class="site-heading" style = "padding-top: 400px; margin-top: -50px">
              <h1>{{ page.title }}</h1>
              <h3 style = "color: #9b59b6;line-height: 42px;"><b>{{ page.subtitle}}</b></h3>
              <p class="post-meta" style = "background-color: transparent; color: white;"><time style = "background-color: transparent" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author"  itemscope itemtype="http://schema.org/Person"><span style = "color: white; background-color: #9b59b6" itemprop="name">{{ page.author }}</span></span>{% endif %}</p>


          </div>
          <span class='st_sharethis_large' displayText='ShareThis'></span>
          <span class='st_facebook_large' displayText='Facebook'></span>
          <span class='st_googleplus_large' displayText='Google +'></span>
          <span class='st_twitter_large' displayText='Tweet'></span>
          <span class='st_linkedin_large' displayText='LinkedIn'></span>
          <span class='st_pinterest_large' displayText='Pinterest'></span>
          <span class='st_email_large' displayText='Email'></span>
    </div>
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ post.path }}" rel="nofollow" target="_blank" title="Share on Google+">Google+</a>

    <div class = "wrapper" style = "background-color: transparent;">
      <div style = "background-color: transparent; width: 100%; overflow: hidden;">
      </div>
  </div>

    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="post-content" itemprop="articleBody">
      {{ content }}
      <div class = "wrapper" style = "background-color: transparent; padding: 25px;">
        <h4>Share this post:</h4>
      <span class='st_sharethis_large' displayText='ShareThis'></span>
      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_googleplus_large' displayText='Google +'></span>
      <span class='st_twitter_large' displayText='Tweet'></span>
      <span class='st_linkedin_large' displayText='LinkedIn'></span>
      <span class='st_pinterest_large' displayText='Pinterest'></span>
      <span class='st_email_large' displayText='Email'></span>
    </div>
      <div id="disqus_thread" class="wrapper"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//thecodersbrain.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>

    <!-- jekyll ad -->


    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </article>
  </div>
  <style>

body {
  overflow-x: hidden;
}
.site-title {
  color: white;
}


  footer p {
    background-color: #ecf0f1;
    color: black;
    font-size: 12px;
  }
  .wrapper {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 5px;
  }
  * {
    font-family: 'Jura', sans-serif;

  }

  body {
  }
  header {
    font-family: times;
  }

  header p time {
    font-size: 1.5em;
    font-style: italic;
    color: #bdc3c7;
    opacity: 0.7;
  }

  header p span {
    font-size: 1.2em;
    font-style: italic;
    color: #bdc3c7;
    opacity: 0.7;
  }
  #topcontainer {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .intro-header {
    background-color: #808080;
    background-image: url('{{ page.imageurl }}');
    width: 100%;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-transform: uppercase;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
  }

  .site-heading h1{
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-weight: bold;
    background-color:white;
    margin: auto;
    border-top: black solid 10px;
    border-bottom: black solid 10px;
  }
  .site-heading h3 b{
    background: black;
    color: white;
    padding: 10px;
  }

  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    color: white;
    width: 100%;
  }

  @media only screen and (min-width: 768px) {
    .intro-header .site-heading,
    .intro-header .post-heading,
    .intro-header .page-heading {
      padding: 150px 0;
    }
  }
  .intro-header .site-heading,
  .intro-header .page-heading {
    text-align: center;
  }
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    margin-top: 0;
    font-size: 50px;
  }
  .intro-header .site-heading .subheading,
  .intro-header .page-heading .subheading {
    font-size: 24px;
    line-height: 1.1;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 0px 0 0;
  }
  @media only screen and (min-width: 768px) {
    .intro-header .site-heading h1,
    .intro-header .page-heading h1 {
      font-size: 80px;
    }
  }
  .intro-header .post-heading h1 {
    font-size: 35px;
  }
  .intro-header .post-heading .subheading,
  .intro-header .post-heading .meta {
    line-height: 1.1;
    display: block;
  }
  .intro-header .post-heading .subheading {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin: 10px 0 30px;
    font-weight: 600;
  }
  .intro-header .post-heading .meta {
    font-family: 'Lora', 'Times New Roman', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
  }
  .intro-header .post-heading .meta a {
    color: white;
  }
  @media only screen and (min-width: 768px) {
    .intro-header .post-heading h1 {
      font-size: 55px;
    }
    .intro-header .post-heading .subheading {
      font-size: 30px;
    }
  }
/*Custom Styling*/
  .steps {
  	background-color: #bdc3c7;
  	border-top-left-radius: 7px;
  	border-top-right-radius: 7px;
  	color: #7f8c8d;
  	padding: 7px;
  	text-align: center;
  	margin-left: 15px;
  	margin-right: 15px;
  	font-weight: bolder;
  	font-size: 1px;
  	box-shadow: 2px 15px 10px -10px grey;
  	margin-bottom: 0.5px;

  }


  .midbreak {
  		background-color: #3498db;
  }

  .highlight {
  	padding: 15px;
  	background-color: #3498db;
  }

  .blink {
    animation: blink-animation 25s steps(5, start) infinite;
    -webkit-animation: blink-animation .7s steps(5, start) infinite;
  	transition: ease-in-out 300ms;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

  .terminal-white {
  	color: rgba(255,255,255, 0.5);
  	background-color: rgba(0, 0, 0, 0.9);
  }

  .post-buttons {
    float: right;
  }
  </style>
